body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

h1 {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
  }
  
#treemap-scatter-container {
    display: flex;
    justify-content: space-between;
}

/* Style for individual treemap and scatterplot */
#treemap,
#scatterplot,
#line_chart {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#vis {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the histogram containers */
  .hist-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: auto;
    justify-content: center;
    align-items: center;
}
  #grouped-container {
    background-color: #fff;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
  
  
