body {
    font-family: Arial, sans-serif;
    background-image: url(VIC-property-market-affordable-property-in-sought-after-locations.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10000px 5px;
    background-attachment: fixed ;
    margin: 0;
    padding: 0;
    text-align: center;
  }

h1 {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
  }

  
  
  /* Style for the histogram containers */
.hist-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: auto;
}

/* Center each visualization container */
#hist_ES,
#hist_WS,
#hist_NS,
#hist_SS,
#hist_SES {
  margin: 10px auto;
  display: flex;
}

  
